<h1>There be robots!</h1>
<% unless @robots.empty? %>
  <p>Average robot age: <%= @avg_age %></p>
  <p>Year Hired Statistics:</p>
  <table>
    <thead>
      <th>Year</th>
      <th>Number of Robots Hired</th>
    </thead>
    <tbody>
      <% @years.each do |year, count| %>
        <tr>
          <td> <%= year %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p>Department Statistics:</p>
  <table>
    <thead>
      <th>Department</th>
      <th>Number of Robots in Department</th>
    </thead>
    <tbody>
      <% @departments.each do |department, count| %>
        <tr>
          <td> <%= department %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p>City Statistics:</p>
  <table>
    <thead>
      <th>City</th>
      <th>Number of Robots in City</th>
    </thead>
    <tbody>
      <% @cities.each do |city, count| %>
        <tr>
          <td> <%= city %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p>State Statistics:</p>
  <table>
    <thead>
      <th>State</th>
      <th>Number of Robots in State</th>
    </thead>
    <tbody>
      <% @states.each do |state, count| %>
        <tr>
          <td> <%= state %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<a href="/robots/new"><button type="button">Create New Robot</button></a>
