<div class="row">
  <h1 class="heading">Robot Directory Statistics</h1>
</div>

<% unless @robots.empty? %>
  <br>
  <div class="row text-center">
    <div class="col-md-12">
      <p><strong>Average robot age: <%= @avg_age %></strong></p>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-md-6"
      <p><strong>Year Hired Statistics:</strong></p>
    </div>

    <div class="col-md-6">
      <p><strong>Department Statistics:</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <th class="col-md-2">Year</th>
          <th class="col-md-4">Number of Robots Hired</th>
        </thead>
        <tbody>
          <% @years.each do |year, count| %>
            <tr>
              <td> <%= year %> </td>
              <td> <%= count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table">
        <thead>
          <th class="col-md-2">Department</th>
          <th class="col-md-4">Number of Robots in Department</th>
        </thead>
        <tbody>
          <% @departments.each do |department, count| %>
            <tr>
              <td> <%= department %> </td>
              <td> <%= count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <br>

  <div class="row text-center">
    <div class="col-md-6">
      <p><strong>City Statistics:</strong></p>
    </div>

    <div class="col-md-6">
      <p><strong>State Statistics:</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <th class="col-md-2">City</th>
          <th class="col-md-4">Number of Robots in City</th>
        </thead>
        <tbody>
          <% @cities.each do |city, count| %>
            <tr>
              <td> <%= city %> </td>
              <td> <%= count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table">
        <thead>
          <th class="col-md-2">State</th>
          <th class="col-md-4">Number of Robots in State</th>
        </thead>
        <tbody>
          <% @states.each do |state, count| %>
            <tr>
              <td> <%= state %> </td>
              <td> <%= count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>

<div class="row text-right">
  <a href="/robots"><button type="button" class="btn btn-default">View All Robots</button></a>
  <a href="/robots/new"><button type="button" class="btn btn-default last">Create New Robot</button></a>
</div>
