<h1>Profile for <%= @robot.name %> <small> Serial #: <%= @robot.serial_number %></small></h1>
<img src=<%= @robot.avatar %>></img>
<p>Name: <%= @robot.name %> </p>
<p>City: <%= @robot.city %> </p>
<p>State: <%= @robot.state %> </p>
<p>Birthdate: <%= @robot.birthdate %> </p>
<p>Date Hired: <%= @robot.date_hired %> </p>
<p>Department: <%= @robot.department %> </p>
